.app-btn {
    -fx-background-color: none;
    -fx-content-display: graphic-only;

    -fx-background-size: 80px 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-effect: innershadow(gaussian, rgb(160, 160, 160), 2, 0.2, 1.5, 1.5);
}

.app-btn:hover {
    -fx-effect: innershadow(gaussian, rgb(121, 121, 121), 4, 0.2, 1.5, 1.5);
}

#appKeyBtn {
    -fx-background-image: url("image/key.png");
}

#appFileBtn {
    -fx-background-image: url("image/file.png");
}

#appSignBtn {
    -fx-background-image: url("image/sign.png");
}

#appTextBtn {
    -fx-background-image: url("image/text.png");
}