/* MainPane.fxml */
.main-button {
    -fx-content-display: graphic-only;
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px 60px;
}

.keyButton-changed {
    -fx-background-image: url("image/key.png");
}

.keyButton-not-changed {
    -fx-background-image: url("image/no-key.png");
}

#returnButton {
    -fx-background-image: url("image/return.png");
}

/* FunctionsPane.fxml */
.functions-button {
    -fx-background-color: none;
    -fx-background-size: 70px 70px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#fileButton {
    -fx-background-image: url("image/file.png");
}

#identityButton {
    -fx-background-image: url("image/identity.png");
}

#textButton {
    -fx-background-image: url("image/text.png");
}

/* FilePane.fxml */
.dropPane {
    -fx-opacity: 0.7;
    -fx-background-color: none;
    -fx-background-size: 100px 100px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.dropPane:hover {
    -fx-opacity: 0.9 !important;
}

.dropPane-can-drop {
    -fx-background-image: url("image/drop.png");
}

.dropPane-cannot-drop {
    -fx-background-color: #c3c3c3 !important;
    -fx-background-image: url("image/no-drop.png");
}

.dropPane-processing {
    -fx-background-color: #ffefb1 !important;
    -fx-background-image: url("image/processing.png");
}

.dropPane-success {
    -fx-background-color: #c2ffd0 !important;
    -fx-background-image: url("image/success.png");
}

.dropPane-has-file {
    -fx-background-color: #bcd8ff !important;
    -fx-background-image: url("image/has-file.png");
}

/* IdentityPane.fxml */
.dropPane-warning {
    -fx-background-color: #ffb7b3 !important;
    -fx-background-image: url("image/warn.png");
}

/* TextPane.fxml */
.textarea-warning {
    text-area-background: #ffb7b3 !important;
}

.textarea-success {
    text-area-background: #c2ffd0 !important;
}

/* base */
.text-area {
    text-area-background: white;
}

.text-area .content {
    -fx-background-color: text-area-background;
}
