#keyBtn {
    -fx-content-display: graphic-only;
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px 60px;
}

.keyBtn-changed {
    -fx-background-image: url("image/key.png");
}

.keyBtn-not-changed {
    -fx-background-image: url("image/no-key.png");
}

#returnBtn {
    -fx-content-display: graphic-only;
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60px 60px;
    -fx-background-image: url("image/return.png");
}

.text-area {
    text-area-background: white;
}

.text-area .content {
    -fx-background-color: text-area-background;
}